/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
  }
  
.ant-upload-select-picture-card .ant-upload-text {
margin-top: 8px;
font-size: 12px;
color: #666;
}

.consent{
    border: 1px solid black;
    max-height: 150px;
    overflow-y: scroll;
    margin: 10px 0px;
}

.consent p{
    margin:10px;
    font-weight: bold;
    color: black;
}

.margin-top-bottom{
    margin-top:10px;
    margin-bottom: 10px;
}

/* use css to set position of modal */
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
  }
  
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
  }
  
  /*
  // Use flex which not working in IE
  .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vertical-center-modal .ant-modal {
    top: 0;
  }
  */

  .signature{
      width:150px;
      height:150px;
      box-shadow: 0px 0px 1px grey;
  }

  
  .container {
    width: 100%;
    height: 450px;
    top: 10%;
    left: 10%;
  }
  
  .sigContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
  }

  .sigPad {
    width: 100%;
    height: 100%;
  }

  